CHROMIUM_EMAIL=your_chromium_email@example.com
CHROMIUM_PASSWORD=YourPassword
FIREFOX_EMAIL=your_firefox_email@example.com
FIREFOX_PASSWORD=YourPassword
WEBKIT_EMAIL=your_webkit_email@example.com
WEBKIT_PASSWORD=YourPassword
